
  <div class="container">
    <h1>FORMULARIO PARA CREAR MESAS</h1>
    <form class="form-newMesa" action="/mesa/create" method="post">
      <label>Ubicacion</label>
      <input type="text" name="ubicacion" class="form-control" required>
      <label>Estado</label>
      <input type="text" name="estado"  class="form-control" required>
      <input type="submit"class="btn-primary" />
      <br/>
      <br/>
    </form>
  </div>
