<div class="container">
  <h1>FORMULARIO PARA CREAR PLATOFUERTE</h1>
  <form class="form-newPlatoFuerte" action="/platoFuerte/create" method="post">
    <div class="principios-control">
      <% %>
    </div>
  </form>
</div>
