<div class="container">
  <h1>FORMULARIO PARA CREAR POSTRE</h1>
  <form class="form-newpostre" action="/postre/create" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control" required>
    <label>imagenURL:</label>
    <input type="text" name="imagen"  class="form-control" required>
    <input type="submit"class="btn-primary" />
    <br/>
    <br/>
  </form>
</div>
